 <div ng-controller="addTransferCtrl" class="container">
    <div class="panel panel-default">
       <div class="panel-heading">
          <h4 class="panel-title">
             <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseAddProductTransfer"><span class="glyphicon glyphicon-plus"></span>
    Add Product Transfer</a>
          </h4>
       </div>
       <div id="collapseAddProductTransfer" class="panel-collapse collapse out">
       <div class="panel-body">
            <div class="form-group">
              <form ng-submit="submit()" ng-controller="addTransferCtrl" class="form-group">
                Product Name:
                <select data-ng-model="tProduct" class="form-control" ng-change="selectAction()" 
                    data-ng-options="kProduct as kProduct for (kProduct,vProduct) in productsListTrans" value="{{kProduct}}">
                </select>
                <br>
                Date :
                <input class="form-control" type="text" ng-model="tDate" name="tDate" />
                <br>
                From :<select class="form-control"  data-ng-model="tFrom" ng-change="selectAction()" name="tFrom" data-ng-options="kCity as kCity for (kCity, vProduct) in cities" value="{{kCity}}">                
                </select>
                <br>
                Quantity:<input type="text" class="form-control"  ng-model="tQuantity" name="tQuantity" />
                <br>
                To:<select class="form-control"  data-ng-model="tTo" ng-change="selectAction()" name="tTo" 
                    data-ng-options="kToCity as kToCity for (kToCity, vToCity) in cities" value="{{kToCity}}">
                </select>
                <br>
                TransID:<input type="text" class="form-control"  ng-model="TransID" name="TransID" />
                <br>
                <input type="submit" id="submit" value="submit"  class="btn btn-lg btn-success" />
        </form>
            <div>
            </div>
          </div>
        </div>
        </div>
        </div>
        </div>
